* {
	box-sizing: border-box;
}

@font-face {
	font-family: "ibmvga8";
	src: url(fonts/WebPlus_IBM_VGA_8x14.woff);
}

@font-face {
	font-family: "ibmvga8x16";
	src: url(fonts/WebPlus_IBM_VGA_8x16.woff);
}

@font-face {
	font-family: "ibmvga9";
	src: url(fonts/WebPlus_IBM_VGA_9x14.woff);
}

@font-face {
	font-family: "ibmvga9x16";
	src: url(fonts/WebPlus_IBM_VGA_9x16.woff);
}

body {
	margin: 0;
	background: black;
	overflow: hidden;
}

canvas {
	position: absolute;
}

.ui-container {
	position: fixed;
	top: 30px;
	right: 30px;
	bottom: 30px;
}

.ui-body {
	text-transform: uppercase;
	background: rgb(37 37 37 / 33%);
	border-radius: 16px;
	height: 100%;
	padding: 16px;
	color: white;
	font-family: "consolas";
	box-shadow: 0 0 0px 1px rgb(39 39 39 / 39%),
	0 -2px 1px 0px rgb(255 255 255 / 42%),
	inset 0 -9px 16px -5px rgb(255 255 255 / 13%),
	0 0 21px 12px rgb(0 0 0 / 16%);

	backdrop-filter: blur(35px);
	transition: transform .3s ease;

	--border-radius: 11px;
}

.ui-body:hover {
	transition: none;
}

.ui-input {
	margin: 8px 0;
	position: relative;
}

.ui-input label {
	display: flex;
	align-items: center;
}

.ui-input label .caption {
	margin-right: 8px;
}

.ui-input input, .ui-input select {
	padding: 8px;
	font-family: "consolas";
	margin-left: auto;
}

.ui-input input[type="number"], .ui-input input[type="text"]
{
	color: white;
	font-size: 16px;
	border: none;
	background: rgb(45 45 45 / 15%);
	border-radius: var(--border-radius);
	box-shadow: inset 0 1px 1px rgb(0 0 0 / 35%), 0 1px 1px rgb(255 255 255 / 28%);
}

.ui-input input[type="checkbox"]
{
	height: 35px;
	margin: 0;
	margin-left: auto;
}

.ui-input input[type="color"]
{
    padding: 0;
    border: none;
    outline: none;
    background: none;
}

.ui-input select {
	height: 35px;
	font-size: 16px;
	text-transform: uppercase;

	color: white;
	font-size: 16px;
	border: none;
	background: rgb(45 45 45 / 15%);
	border-radius: var(--border-radius);
	box-shadow: inset 0 1px 1px rgb(0 0 0 / 35%), 0 1px 1px rgb(255 255 255 / 28%);
}

.ui-input select option {
	background: black;
	outline: transparent;
	border: transparent;
}

.ui-input input.restart-required, .ui-input select.restart-required {
	animation: background-animation linear 1s infinite;
}

@keyframes background-animation{
	0% {
		background: orange;
	}

	100% {
		background: transparent;
	}
}

.ui-button {
	cursor: pointer;
	text-align: center;
	background: rgb(255 255 255 / 21%);
	padding: 8px;
	border-radius: 20px;
	box-shadow: inset 0 1px 1px rgb(255 255 255 / 20%), 0 1px 1px rgb(0 0 0 / 14%);
	user-select: none;
}

.ui-button:active {
	box-shadow: 0 0 0 transparent;
}
